<footer class="grid grid-cols-3 p-10 bg-black text-white font-primary gap-64 mx-auto w-auto ">
    <div>
        <p class="mb-5 text-6xl font-extrabold leading-none tracking-normal text-left pb-5 border-b border-white h-16" >Le MOI sans IA</p>
        <img src="../img/logo.png" alt="logo creacid" class="mb-5 h-32">
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="#presentation">Présentation</a></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="#actu">Actualités</a></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="#campagne">Notre campagne</a></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="#contact">Contact</a></p>
    </div>
    <div>
        <p class="mb-5 text-6xl font-extrabold leading-none tracking-normal text-left pb-5 border-b border-white h-16"></p>
        <p class="h-32 mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="">lemoisansia@gmail.com</a></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="">133 Boulevard Pereire, 75017 Paris</a></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="">06 51 47 86 09</a></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left h-10"></p>
        <div class="inline-flex h-10">
            <a href="#"><img src="../img/Vector.png" alt="icon instagram" class="w-10 h-10" ></a>
            <a href="#"><img src="../img/ic_baseline-facebook.png" alt="icon facebook" class="ml-8 w-10 h-10"></a>
            <a href="#"><img src="../img/pajamas_linkedin.png" alt="icon linkedin" class="ml-8 w-10 h-10"></a>
            <a href="#"><img src="../img/simple-icons_x.png" alt="icon X" class="ml-8 w-10 h-10"></a>
            <a href="#"><img src="../img/Vector-1.png" alt="icon tiktok" class="ml-8 w-10 h-10"></a>
        </div>
    </div>
    <div>
        <p class="mb-5 text-6xl font-extrabold leading-none tracking-normal text-left pb-5 border-b border-white h-16"></p>
        <p class="h-32 mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="#">Conditions générales d’utilisation</a></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="#">Gérer les Cookies</a></p>
        <p class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"><a href="#">Accessibilité</a></p>

    </div>
</footer>


