<div
  class="grid w-full mt-40 overflow-hidden bg-white border-t-black border-y-black border-y-4"
>
  <div
    id="scrolling-banner"
    class="h-full inline-block whitespace-nowrap overflow-hidden relative"
  >
    <span class="inline-block px-4 py-2 animate-banner mr-4 translate-banner"
      >Campagne de sensibilisation contre la dépendance aux IAs</span
    >
    <span class="inline-block px-4 py-2 animate-banner mr-4 translate-banner"
      >Campagne de sensibilisation contre la dépendance aux IAs</span
    >
    <span class="inline-block px-4 py-2 animate-banner mr-4 translate-banner"
      >Campagne de sensibilisation contre la dépendance aux IAs</span
    >
    <span class="inline-block px-4 py-2 animate-banner mr-4 translate-x-banner"
      >Campagne de sensibilisation contre la dépendance aux IAs</span
    >
    <span class="inline-block px-4 py-2 animate-banner mr-4 translate-x-banner"
      >Campagne de sensibilisation contre la dépendance aux IAs</span
    >
  </div>
</div>
