<div class="mt-20 md:mt-0">
  <h3 class="text-title md:text-intro font-introbold w-11/12 relative m-auto">
    Actualités
  </h3>
  <div
    class="grid md:grid-cols-4 gap-x-2 gap-y-1 w-11/12 m-auto mt-5"
    id="actu-grid"
  >
    <a
      href="https://www.lemonde.fr/economie/article/2023/11/25/intelligence-artificielle-le-monde-de-la-culture-redoute-une-spoliation-massive_6202319_3234.html"
      target="_blank"
      class="mb-4 md:mb-0"
    >
      <img src="./img/actu1.png" alt="" />
      <p class="font-black">
        Intelligence artificielle : le monde de la culture redoute une
        spoliation massive
      </p>
      <p>
        La France renonce-t-elle à protéger ses créateurs face à l'intelligence
        artificielle (IA) ? « Historiquement, c'est la première fois que la...
      </p>
    </a>

    <a
      href="https://leclaireur.fnac.com/article/386850-lintelligence-artificielle-peut-elle-causer-la-disparition-de-lintelligence-humaine/"
      target="_blank"
      class="mb-4 md:mb-0"
    >
      <img src="./img/actu2.png" alt="" />
      <p class="font-black">
        L'intelligence artificielle peut-elle causer la disparition de
        l'intelligence humaine ?
      </p>
      <p>
        Certains pensent que l'intelligence artificielle est une menace pour
        notre intelligence, mais qu'en est-il vraiment ?
      </p>
    </a>

    <a
      href="https://www.eurosport.fr/formule-1/grand-prix-d-abu-dhabi/2023/l-intelligence-artificielle-testee-a-abu-dhabi-pour-en-finir-avec-les-problemes-de-limite-de-piste_sto9894151/story.shtml"
      target="_blank"
      class="hidden md:grid mb-4 md:mb-0"
    >
      <img src="./img/actu3.png" alt="" />
      <p class="font-black">
        L'intelligence artificielle testée à Abu Dhabi pour en finir avec les
        problèmes de limite de piste
      </p>
      <p>
        La FIA expérimente ce week-end au Grand Prix d'Abu Dhabi un logiciel
        utilisant l'intelligence artificielle pour trancher plus rapidement
        les...
      </p>
    </a>

    <a
      href="https://www.cnews.fr/monde/2023-11-23/intelligence-artificielle-qui-sont-matthew-butterick-et-joseph-saveri-les-deux"
      target="_blank"
      class="hidden md:grid mb-4 md:mb-0"
    >
      <img src="./img/actu4.png" alt="" />
      <p class="font-black">
        Intelligence artificielle : qui sont Matthew Butterick et Joseph Saveri,
        les deux hommes qui organisent la résistance face aux machines ?
      </p>
      <p>
        Sara Silverman déposait plainte contre la société Open AI, créateur de
        ChatGPT, et Meta (Facebook) pour dénoncer les systèmes d'intelligence...
      </p>
    </a>

    <a
      href="https://www.lefigaro.fr/conjoncture/vladimir-poutine-veut-son-intelligence-artificielle-prorusse-20231124"
      target="_blank"
      class="hidden md:grid mb-4 md:mb-0"
    >
      <img src="./img/actu5.png" alt="" />
      <p class="font-black">
        Vladimir Poutine veut son intelligence artificielle prorusse
      </p>
      <p>
        Pour le président russe, les robots conversationnels présentent un
        intolérable biais antirusse contre lequel il convient de lutter...
      </p>
    </a>

    <a
      href="https://www.lejdd.fr/economie/chat-gpt-intelligence-artificielle-management-tres-humain-139890"
      target="_blank"
      class="hidden md:grid mb-4 md:mb-0"
    >
      <img src="./img/actu6.png" alt="" />
      <p class="font-black">
        Chat GPT : intelligence artificielle… management très humain
      </p>
      <p>
        Écarté des commandes d’OpenAI par son conseil d’administration le 17
        novembre, Sam Altman a finalement récupéré son poste moins d’une
        semaine..
      </p>
    </a>

    <a
      href="https://www.ledauphine.com/economie/2023/11/25/une-conference-sur-l-intelligence-artificielle"
      target="_blank"
      class="hidden md:grid mb-4 md:mb-0"
    >
      <img src="./img/actu7.png" alt="" />
      <p class="font-black">
        Aix-les-Bains. Une conférence sur l'intelligence artificielle
      </p>
      <p>
        Comment utiliser l'intelligence artificielle dans le cadre de la
        formation ? C'est l'objet d'une conférence qui sera proposée le 12
        décembre...
      </p>
    </a>

    <a
      href="https://www.lesechos.fr/idees-debats/editos-analyses/lintelligence-artificielle-internet-en-pire-2031106"
      target="_blank"
      class="hidden md:grid mb-4 md:mb-0"
    >
      <img src="./img/actu8.png" alt="" />
      <p class="font-black">L'intelligence artificielle : Internet en pire ?</p>
      <p>
        Désinformation, cyber-insécurité, impact carbone… L'intelligence
        artificielle générative façon ChatGPT semble avoir aggravé nombre des
        maux...
      </p>
    </a>

    <button
      class="grid md:hidden border-black border-solid border-2 w-[35%] m-auto mt-8 bg-pink py-1 rounded-lg"
      onclick="showActu()"
      id="show-actu"
    >
      <span class="font-black">Voir plus</span>
    </button>
    <button
      class="hidden border-black border-solid border-2 w-[35%] m-auto mt-8 bg-pink py-1 rounded-lg"
      onclick="noShowActu()"
      id="no-show-actu"
    >
      <span class="font-black">Voir moins</span>
    </button>
  </div>
</div>
