

<div class="grid grid-cols-4 w-full bg-gray">
    <div class="h-32 mb-5 text-9xl font-extrabold leading-none tracking-normal col-span-4" id="carousel-title">Nos astuces</div>
    <div class="pl-20 flex items-center h-96">
        <img onclick="prevImage()" src="../img/bouton%20gauche.png" alt="bouton precedent">
    </div>
    <div class="col-span-2 w-full" id="carousel">
        <img src="../img/astuces1.JPG" alt="" class="carousel-image block w-full" id="astuce1">
        <img src="../img/astuces2.JPG" alt="" class="carousel-image w-full" id="astuce2">
    </div>
    <div class="pr-20 flex justify-end items-center h-96">
        <img onclick="nextImage()" src="../img/bouton%20droite.png" alt="bouton suivant">
    </div>
</div>




