<div class="w-7/8 m-auto grid grid-cols-7 place-items-center">
  <div class="col-span-2 relative self-end z-20 left-64 bottom-2">
    <p class="text-intro font-introbold leading-tight m-0 p-0">LE MOI</p>
    <p class="text-intro font-introbold leading-tight m-0 p-0">SANS IA</p>
    <p class="text-xl font-extrabold">Think different, Think humain !</p>
    <p class="">
      Le dispositif pour lutter contre la dépendance excessive aux IAs.
    </p>
  </div>
  <div class="w-full col-span-3 relative self-end z-10">
    <img src="./img/Rectangle 1.png" alt="" />
  </div>
  <div class="w-full col-span-2 relative z-20 top-20 right-40">
    <img src="./img/Rectangle 2.png" alt="" />
  </div>
</div>
