<div class="grid grid-cols-6 place-items-center p-4">
  <img
    role="img"
    class="col-span-1"
    src="img/logo.png"
    alt="Logo de l'entreprise"
  />
  <div
    role="menu"
    id="nav-items"
    class="col-span-5 w-11/12 grid grid-cols-6 place-items-center rounded-full border-black border-solid border-2 px-6 py-2"
  >
    <a role="menuitem" href="#" class="font-extrabold col-start-3"
      ><p class="hover:text-yellow">Présentation</p></a
    >
    <a role="menuitem" href="#" class="font-extrabold col-start-4"
      ><p class="hover:text-orange">Actualités</p></a
    >
    <a role="menuitem" href="#" class="font-extrabold col-start-5"
      ><p class="hover:text-green">Notre Campagne</p></a
    >
    <a role="menuitem" href="#" class="font-extrabold col-start-6"
      ><p class="hover:text-blue">Contact</p></a
    >
  </div>
</div>
