<div class="">
  <h3 class="font-introbold text-intro relative top-[1.8rem]">Les risques</h3>
  <div class="grid grid-cols-3 p-10 bg-orange gap-x-10 gap-y-5">
    <p class="font-introbold text-2xl">Perte d'emploi</p>
    <p class="font-introbold text-2xl">Dépendance technologique</p>
    <p class="font-introbold text-2xl">Responsabilité et éthique</p>
    <p class="font-introbold text-2xl">Sécurité et confidentialité</p>
    <p class="font-introbold text-2xl">Biais algorithmique</p>
    <p class="font-introbold text-2xl">Utilisation malveillante</p>
    <p class="font-introbold text-2xl">Impact sur la vie privée</p>
    <p class="font-introbold text-2xl">Chômage structurel</p>
    <p class="font-introbold text-2xl">Manque de transparence</p>
    <p class="font-introbold text-2xl">Éthique dans la conception de l'IA</p>
  </div>
</div>
