<div class="">
  <h2>Qui sommes-nous ?</h2>
  <div id="carousel" class="grid grid-cols-12">
    <button class="col-span-1 relative z-2" onclick="prevSlide()">
      <img src="../img/prev-button.png" alt="bouton précédent" />
    </button>
    <div class="carousel-content col-span-10 relative z-1">
      <div class="carousel-item grid">
        <div class="carousel-img">
          <img src="../img/us.png" alt="nous" />
        </div>
        <div class="carousel-txt">
          <h3>Notre association</h3>
          <p>
            Nous sommes une association qui a pour objectif de souligner
            l'importance des nouvelles technologies dans notre société et de
            sensibiliser les individus aux limites actuelles et futures des
            technologies numériques.
          </p>
          <p>
            Nous créons le “Moi sans IA” pour lutter contre la dépendance
            excessive aux IAs.
          </p>
        </div>
      </div>

      <div class="carousel-item hidden">
        <div class="carousel-img">
          <img src="../img/robot.png" alt="robot" />
        </div>
        <div class="carousel-txt">
          <h3>Notre objectif</h3>
          <p>
            Ce dispositif prendra part dans toute la France (y compris les
            Outre-Mer). Son objectif est de sensibiliser les utilisateurs de
            technologie, aux limites et aux dangers de l’intelligence artificiel
          </p>
          <p>
            Comme le disait Descartes, <b>“Je pense, donc je suis'”</b>:
            l'essence de l'humanité se trouve dans notre capacité à penser,
            réfléchir et créer. Cette campagne encourage donc à penser
            différemment, à se détacher des outils technologiques et à retrouver
            notre essence humaine.
          </p>
          <p>#ThinkDifferent #ThinkHuman</p>
        </div>
      </div>

      <div class="carousel-item hidden">
        <div class="carousel-img">
          <img src="../img/april.png" alt="1er avril" />
        </div>
        <div class="carousel-txt">
          <h3>Notre RDV</h3>
          <p>
            Nous nous retrouverons <b>chaque mois d’Avril</b> pour un mois où
            nous diminuerons notre utilisation des intelligences artificiel.
          </p>
          <p>
            Le but n’est pas, de ne plus utiliser les nouvelles technologie,
            donc les IAs, car il est difficile de concevoir notre vie au 21ème
            siècle sans notre téléphone ou sans internet. Mais le but est
            d’apprendre à mieux les utiliser en étant conscient
            <b>des risques</b> liés à elles.
          </p>
          <p>
            Nous vous apprendrons comment mieux appréhender ce mois en vous
            donnant <b>des astuces</b>
          </p>
        </div>
      </div>
    </div>
    <button class="col-span-1 relative z-2" onclick="nextSlide()">
      <img src="../img/next-button.png" alt="bouton suivant" />
    </button>
  </div>
</div>
