
<img src="../img/bg.jpg" class="w-full mt-10" alt="">
<div class="bg-blue relative h-full">
    <div id="campagne" class="">
        <div class=" text-9xl font-extrabold  pt-32  text-white p-10" >Notre campagne</div>
            <div class="font-medium  text-white mb-16 p-10 ">
                <p class=" text-2xl">Dans un monde de plus en plus façonné par l'intelligence artificielle, il est essentiel de </p>
                <p class=" text-2xl">rester maître de nos choix et de nos décisions. Notre campagne vise à sensibiliser le public</p>
                <p class=" text-2xl">sur l'importance de maintenir le contrôle sur l'utilisation de l'IA en tant qu'outil, sans devenir</p>
                <p class=" text-2xl">esclave de ses capacités.</p>
            </div>
    </div>
    <div>
        <p class="text-9xl font-bold text-center"><span class="text-pink font-primary">“</span><span class="text-white">Le MOI sans IA</span><span class="text-red">”</span></p>
    </div>
    <div class="flex justify-center items-center pt-32 flex-col">
        <iframe class="ml-40 mr-40 w-8/12 h-[30rem]" src="https://www.youtube.com/embed/VOTRE_CODE_VIDEO_YOUTUBE" frameborder="0" allowfullscreen></iframe>
        <div class="text-white text-2xl font-bold mt-20 pb-20">
            <p> On connait tous une Michelle dans notre entourage !</p>
            <p>Partager le message avec les hashtags #LeMoiSansIA</p>
            <p class="text-center">#ThinkDifferentThinkHumain</p>

        </div>
    </div>
    <div class="h-96 flex justify-end   right-0 z-100 absolute bottom-[-0px] ">
        <img src="../img/img-video.png" alt="" class="relative z-100  ">
    </div>

</div>
